################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sln/installed-lib
/sln/Project-Alpha-Win64/.vs/Project-Alpha-Win64/v15/ipch/ENGINE-b30c2c46/ENGINE-2b9a2d82.ipch
/sln/Project-Alpha-Win64/.vs/Project-Alpha-Win64/v15
/.vs
